---
name: Docker

on:
  push:
    branches:
    - main

env:
  CHECKMK_VERSION: "2.4.0p21"

jobs:
  cmk-docker-build:
    permissions:
      contents: read
      packages: write
    runs-on: ubuntu-latest
    steps:
    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3
    - name: Docker meta
      id: meta
      uses: docker/metadata-action@v5
      with:
        images: ghcr.io/pitkley/watchpost/checkmk
        tags: |
          type=raw,value=latest
          type=raw,value=${{ env.CHECKMK_VERSION }}
    - name: Login to GitHub Container Registry
      uses: docker/login-action@v3
      with:
        registry: ghcr.io
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}
    - name: Build and push Docker image
      uses: docker/build-push-action@v6
      with:
        context: "{{defaultContext}}:checkmk-integration"
        file: "Dockerfile.checkmk"
        build-args: |
          CHECKMK_VERSION=${{ env.CHECKMK_VERSION }}
        push: true
        tags: ${{ steps.meta.outputs.tags }}
